body{
    background-color: black;
    text-align: center;
}
p{
    color: white;
}
span{
    color:#df8908;
}
.header{
    position: fixed;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    margin-inline: 1rem;
    font-weight: 100;
}
a{
    color: white;
}
.navbar a:hover{
    color: #ff1d15;
}
.home{
    color: white;
    display: flex;
    padding: 15%;
    font-size: 3rem;
}
.home-h1{
    font-size: 3rem;
}
.content-card {
    background: linear-gradient( #df8908 10%, #ff1d15 100%);
    margin: 40px auto;
    padding: 5%;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.content-card h2 {
    color: white;
    
}
iframe {
    width: 100%;
    border-radius: 8px;
}
section a{
    display: inline;
    margin: 0 15px;
}
footer {
    background: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}